@inherits LayoutComponentBase
 
<MudLayout>
    <MudAppBar Color="Color.Primary" Elevation="1">
        <NavLink Href="" style="color:aliceblue;">
            <MudText Typo="Typo.h5">Expense Reimbursement</MudText>
        </NavLink>
        <MudSpacer />
        <NavMenu />
        <MudSpacer />
    </MudAppBar>
    <MudMainContent>
            @Body
    </MudMainContent>
</MudLayout>
 
<div id="blazor-error-ui">
    An unhandled error has occurred.
<a href="" class="reload">Reload</a>
<a class="dismiss">🗙</a>
</div>
 
<script>
    function logToConsole(message) {
        console.log(message);
    }
    function triggerFileInputClick(inputId) {
        document.getElementById(inputId).click();
    }
</script>